* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
body {
    background-color: #fff;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 16px 120px; 
    background-color: #fff;
}
.logo img {
    height: 40px; 
    max-width: 139px;
}
.menu ul {
    list-style: none; 
    display: flex;
    gap: 32px; 
}
.menu ul li a {
    text-decoration: none; 
    color: #000000; 
    font-size: 16px;
}
.btn {
    background-color: #30B868;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
}

.baner { 
  position: relative;
  /* width: 1600px; */
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.bnr-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bnr-content {
  position: relative;
  max-width: 900px;
  padding: 20px;
}

.td {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  color: #1a7f4b;
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 30px;
}

.tdt {
  width: 8px;
  height: 8px;
  background: #2ecc71;
  border-radius: 50%;
}

.bnr-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  margin-bottom: 20px;
}

.bnr-content h1 span {
  color: #469165;
}

.bnr-content p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 32px;
  text-align: center;
}

.btn-two{
  gap: 16px;
  /* display: inline-flex; */
  background-color: #30B868;
  color: white;
  padding: 16px 28px 16px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  /* display: inline-block; */
  max-width: 270px;
}

.btn-three{
  display: inline-flex;
  background-color: none;
  color: #30B868;
  padding: 16px 16px 16px 28px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #30B868;
  max-width: 198px;
}

.select-heading h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 50px;
}

.select-heading p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382;
  margin-bottom: 44px;
}
#skill {
  max-width: 1600px;
  height: 448px;
 margin: 0 auto;
}
#skill .skill-box {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 1360px;
  height: 300px;
  margin: 0 auto;
}

#skill .skill-box .skill-card {
  background: white;
  border-radius: 8px;
  padding: 24px;
  max-width: 322px;
  height: 300px;
  text-align: center;
    padding: 50px 30px;
    /* text-align: center; */
    border-radius: 10px;
    /* border: solid 1px red; */
    /* box-shadow: 0 4px 50px 0 ; */
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    
}

#skill .skill-box .skill-card img {
  margin-bottom: 28px;
  height: 32px;
  width: 32px;
}

#skill .skill-box .skill-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #001931;
}

#skill .skill-box .skill-card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

.tdm{
  max-width: 60px;
  height: 60px;
  background:#F95555;
  border-radius: 50%;
}

.solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
    gap: 60px;
    max-width: 1600px;
    height: 840px;
    margin: 0 auto;
}

.solution .img-box {
    /* flex: 1; */
    max-width: 1360px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.second-img img {
    max-width: 600px;
    height: 600px;
    /* height: auto; */
    gap: 40px;
}

.tickkmark {
    /* display: flex; */
    
}

.text-one {
  max-width: 700px;
  height: 396px;
}
.text-one .subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color:#30B868;
    margin-bottom: 16px;
}
.text-one h2 {
    font-size: 47px;
    font-style: bold;
    line-height: 100%;
    max-width: 700px;
    height: 116px;
    color: #001931;
    margin-bottom: 16px;
}
.text-one p {
    font-size: 16px;
    line-height: 20px;
    width: 400px;
    color: #627382;
    margin-bottom: 40px;
}

.list {
    list-style-type: disc;
    /* padding-left: 20px; */
    margin-bottom: 40px;
    list-style: none;
}

.list li {
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
    font-style: medium;
    display: flex;
    align-items: center;
    gap: 6px;
    /* position: relative; */
    /* padding-left: 30px; */
}

.FREE-FIRE {
    /* background-color: #F5F9F8; */
    /* padding: 80px 120px; */
    text-align: center;
    /* max-width: 1600px; */
    height: 506px;
}

.PUBG  {
   max-width: 1360px;
    height: 384px;
    background-color: rgba(247, 246, 242, 1);
    margin: 2px 120px 120px 120px;
}
.PUBG h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    color: #001931;
    padding-top: 80px;
    margin-bottom: 16px;
    max-width: 1280PX;
}
.PUBG .text-asd {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #627382;
    margin-bottom: 24px;
    font-weight: 400;
    /* max-width: 1280px; */
}

.PUBG .btn-four {
    background-color: #30B868;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;
}
.PUBG .text-fgh {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #627382;
    font-weight: 400;
    margin-bottom: 80px;
}

.footer {
  /* max-width: 1600px; */
  height: 348px;
  background-color: #001931;
  padding: 120px 120px;
  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-imge {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-imge img {
  max-width: 350px;
}

.footer-social-img h3 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  text-align: right;
}

.social-icons {
  display: flex;
  gap: 14px;
  justify-content: flex-end;
}

.social-icons img {
  width: 26px;
  height: 26px;
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.footer-line {
  margin-top: 80px;
  margin-bottom: 30px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  color: #d4dbea;
}



